{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<h1 class="text-center mt-3"> Title</h1>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="border text-center mb-5">
                IMAGE
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="border text-center">
                Info pratique :
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border text-center">
                Adress:
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border text-center">
               Tarif
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="border mb-5 text-center">
                CARTE 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
